.container-fluid {
  margin-top: 44px;
  margin-left: 0;
}

.logoImg {
  margin-bottom: 7px;
}

#mainTopVideo {
  width: 100%;
  height: auto;
}
.container-fluid {
  padding: 0;
}

.noPadding {
  padding-left: 0;
  padding-right: 6px;
}
